<div class="container-fluid" id="contenedor">
    <nav class="row" id="items">
            <div class="col-auto" id="ladoizquierdo">
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="logo argentina programa" width="200px" height="40px">
                <p class="m-0" style="margin-left: 10px"> #YoProgramo </p>
            </div>
            <div class="col-auto"  id="ladoderecho">
                <app-redes-sociales ></app-redes-sociales>
                <button type="button" class="btn btn-outline-light" style="margin: 10px">Login</button>
            </div>
    </nav>
</div>