<div class="container-fluid" id="contenedor">
    <section class="row" id="general">
        <div class="col-xs-10 col-sm-7 col-md-7 " id="margen">
            <h1>Hi,<br>my name is Iara Magali Rocha<br>and i'm Full Stack Developer Jr.</h1>
            <p> Por las manianas estudiante avanzada en Geofisica de la Universidad Nacional de La Plata por las tardes Dev, en mi tiempo libre soy artista de circo y emprendedora.</p>
            <!--boton para deslizar-->
        </div>
        <!--<div class="col-xs-8 col-sm-5 col-md-5 p-0" id="foto">
            <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/08/fotos-perfil-whatsapp_16.jpg?tf=3840x" alt="foto de perfil">
        </div>-->
    </section>
</div>


